<template name="kakao">
    <table class="type11">
        <thead>
        <tr>
            <th scope="cols"><span style="font-size: 20px">카카오톡</span><br>
                개인 상담 <br>
                ID : ryankoo
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>평일 : 09:00~18:00<br>
                점심시간 : 12:30~13:30<br>
                토.일.공휴일 휴무
            </td>
        </tr>
        </tbody>

    </table>

    <style>
    table.type11 {
    border-collapse: separate;
    border-spacing: 1px;
    text-align: left;
    line-height: 1.5;
    margin: 20px 10px;
    }
    table.type11 th {
    width: 250px;
    padding: 20px;
    font-weight: bold;
    vertical-align: top;
    color: #ffffff;
    background: #008cba;
    }
    table.type11 td {
    width: 250px;
    padding: 20px;
    vertical-align: top;
    border-bottom: 1px solid white;
    background: #f2f2f2;
    }
    </style>
</template>


