<template name="register">
    <div class="jumbotron">

        <div class="container">
            <h10 style="color: darkred text-align:right">모든 가격은 VAT 포함입니다.</h10>
            <div class="row">
                <div class="col-sm-2">

                </div>

                <div class="col-sm-8">
                    <table class="table table-hover">


                        <thead>
                        <tr class="active">
                            <td>코스명</td>
                            <td>수강기간</td>
                            <td>가격</td>
                            <td></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>실무 선행 실습</td>
                            <td>1개월</td>
                            <td>300,000원</td>
                            <td>
                                <button>수강신청</button>
                            </td>
                        </tr>
                        <tr>
                            <td>비즈니스 영어</td>
                            <td>1개월</td>
                            <td>200,000원</td>
                            <td>
                                <button>수강신청</button>
                            </td>
                        </tr>
                        <tr>
                            <td>IT 직무 교육</td>
                            <td>1개월</td>
                            <td>200,000원</td>
                            <td>
                                <button>수강신청</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-2">

                </div>
            </div>


            <div class="row">
                <div class="col-sm-2">

                </div>
                <div class="col-sm-8">
                    <div class="row">
                        <p style="color: darkred">패키지 상품</p>

                        <table class="table table-hover">
                            <tr class="active">
                                <td><img
                                        src="https://lh3.googleusercontent.com/-sr3txF74tNg/VjWUO9PIUKI/AAAAAAAACww/-vZ8mD0NruU/h240/KakaoTalk_Photo_2015-11-01-13-24-19_78.png"
                                        style="width:170px;height:220px;"></td>
                                <td><img
                                        src="https://lh3.googleusercontent.com/-yG5g5bnfpmA/VjWUO3zvuYI/AAAAAAAACws/0yxKbgGhs8g/h240/KakaoTalk_Photo_2015-11-01-13-24-20_66.png"
                                        style="width:170px;height:220px;"></td>
                                <td><img
                                        src="https://lh3.googleusercontent.com/-rjujdEq6oUE/VjWUPJlPvMI/AAAAAAAACw0/poopkTPggwA/h240/KakaoTalk_Photo_2015-11-01-13-24-22_88.png"
                                        style="width:170px;height:220px;"></td>
                            </tr>
                            <br>
                            <tr class="active">
                                <td>
                                    <button>수강신청</button>
                                </td>
                                <td>
                                    <button>수강신청</button>
                                </td>
                                <td>
                                    <button>수강신청</button>
                                </td>
                            </tr>


                        </table>
                    </div>

                </div>
                <div class="col-sm-2">

                </div>

            </div>
        </div>
    </div>
</template>

